<!DOCTYPE HTML>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>Kullanıcı Yönetim Paneli</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/validator.js"></script>
    <script type="text/javascript" src="/js/contact.js"></script>

</head>
<body>

<div class="container">
    <h3>Kullanıcılar Listesi</h3>
</div>

<div class="container">

    <div class="card">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>İsim</th>
                <th>Soyisim</th>
                <th>Telefon</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${data.content}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.surname}"></td>
                <td th:text="${user.phone}"></td>
                <td><a th:href="@{/findOne/(id=${user.id})}" class="btn btn-success updateUserBtn">Güncelle</a>
                </td>
                <td><a th:href="@{/delete/(id=${user.id})}" class="btn btn-danger deleteUserBtn">Sil</a>
                </td>
            </tr>
            </tbody>
        </table>
        </hr>

        <ul class="nav nav-pills">
            <li class="nav-item"
                th:each="i : ${#numbers.sequence(0,data.totalPages)}">
                <a th:href="@{/(page=${i})}" th:text="${i}" class="nav-link"
                   th:classappend="${currentPage}==${i}?'active':''"></a>
            </li>
        </ul>

    </div>

    <div class="myForm">
        <form th:action="@{/save}" method="post">
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ekle</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="id" class="col-form-label">ID:</label>
                                <input type="text" readonly="readonly" class="form-control" id="id" name="id" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-form-label">Adı:</label>
                                <input type="text" class="form-control" id="name" name="name" required
                                       minlength="3" maxlength="15"
                                       pattern="^[a-zA-Z0-9ğüşöçıİĞÜŞÖÇ]+$" title="Lütfen en az 3, en çok 15 karakter isim giriniz" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="surname" class="col-form-label">Soyadı:</label>
                                <input type="text" class="form-control" id="surname" name="surname" required
                                       minlength="3" maxlength="25"
                                       pattern="^[a-zA-Z0-9ğüşöçıİĞÜŞÖÇ]+$" title="Lütfen en az 3, en çok 15 karakter soyisim giriniz" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-form-label">Telefon:</label>
                                <input type="text" class="form-control" id="phone" name="phone" required
                                       pattern="^0\(5(0[5-7]|[3-5]\d)\)?\d{3}?\d{4}$"
                                       placeholder="0(___)_______"
                                       title="Lütfen telefon numarasını, belirtilen formatta giriniz"
                                       value="" />
                            </div>

                            <div class="form-group">
                                <div class="g-recaptcha" data-sitekey="6LcK4rQUAAAAABBThKL9kBfpu7IO0sngP4jL2a9K" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
                                <input class="form-control d-none" data-recaptcha="true" required data-error="Please complete the Captcha">
                                <div class="help-block with-errors"></div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Kapat</button>
                            <input type="submit" class="btn btn-success" value="Kaydet"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Kullanıcı Silme</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger">
                        Bu kullanıcıyı silmek istediğinize emin misiniz ?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <a href="" type="button" class="btn btn-danger" id="delRef">Sil</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-7" style="margin:20px 0px 20px 0px">
        <button type="button" class="btn btn-primary createUserBtn">Ekle</button>
    </div>

</div>
</body>
</html>