<!DOCTYPE HTML>

<html>
<head>
    <title>Kullanıcı Yönetim Paneli</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/postrequest.js"></script>
    <script src="/js/getrequest.js"></script>
    <script src="/js/main.js"></script>

</head>
<body>

<div class="container">
    <div>
        <form class="form-inline" style="margin:20px 20px 20px 20px" id="customerForm">
            <div class="form-group">
                <label for="name" style="margin-right:5px">Adı:</label>
                <input type="text" class="form-control" id="name"/>
            </div>
            <div class="form-group">
                <label for="surname" style="margin-left:20px; margin-right:5px">Soyadı:</label>
                <input type="text" class="form-control" id="surname"/>
            </div>
            <button type="submit" class="btn btn-default" style="margin-left:20px; margin-right:5px">Submit</button>
        </form>
    </div>

    <div class="col-sm-7" id="postResultDiv">
    </div>

    <div class="col-sm-7" style="margin:20px 0px 20px 0px">
        <button id="getAllCustomerId" type="button" class="btn btn-primary">Get All Customers</button>
        <div id="getResultDiv" style="padding:20px 10px 20px 50px">
            <ul class="list-group">
            </ul>
        </div>
    </div>

</div>
</body>
</html>