<!DOCTYPE HTML>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>Kullanıcı Yönetim Paneli</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/js/getrequest.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>

</head>
<body>

<div class="container">
    <h3>Kullanıcılar Listesi</h3>
</div>

<div class="container">

    <div class="card">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>İsim</th>
                <th>Soyisim</th>
                <th>Telefon</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.surname}"></td>
                <td th:text="${user.phone}"></td>
                <td><a th:href="@{/api/mongo/user/findOne/(id=${user.id})}" class="btn btn-success updateUserBtn">Güncelle</a>
                </td>
                <td><a th:href="@{/api/mongo/user/delete/(id=${user.id})}" class="btn btn-danger deleteUserBtn">Sil</a></td>
            </tr>
            </tbody>
        </table>
        </hr>

<!--        <ul class="nav nav-pills">-->
<!--            <li class="nav-item"-->
<!--                th:each="i : ${#numbers.sequence(0,3)}">-->
<!--                <a th:href="@{/(page=${i})}" th:text="${i}" class="nav-link"-->
<!--                 th:classappend="${currentPage}==${i}?'active':''" ></a>-->
<!--            </li>-->
<!--        </ul>-->

    </div>

    <div class="myForm">
        <form th:action="@{/api/mongo/user/save/}" method="post">
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Güncelle</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="id" class="col-form-label">ID:</label>
                                <input type="text" class="form-control" id="id" name="id" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-form-label">Adı:</label>
                                <input type="text" class="form-control" id="name" name="name" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="surname" class="col-form-label">Soyadı:</label>
                                <input type="text" class="form-control" id="surname" name="surname" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-form-label">Telefon:</label>
                                <input type="text" class="form-control" id="phone" name="phone" value=""/>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Kapat</button>
                            <input type="submit" class="btn btn-success" value="Kaydet"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-7" style="margin:20px 0px 20px 0px">
        <button type="button" class="btn btn-primary createUserBtn">Ekle</button>
    </div>

</div>
</body>
</html>